---
import { Image } from 'astro:assets';

import { getEntry, getCollection } from 'astro:content';

import { Icon } from 'astro-icon/components';

import BaseLayout from '../layouts/BaseLayout.astro';
import PublicationsList from '../components/PublicationsList.astro';
import FCT_logo from '../assets/2022_FCT_Logo_A_horizontal_preto.png';
import IT_logo from '../assets/IT_logo.png';
import { frontmatter, Content as AboutSection } from '../pages/_about.md';

import TeamMember from '../components/TeamMember.astro';

const current_members = await getCollection('people', ({ data }) => {
	return data.active;
});
const past_members = await getCollection('people', ({ data }) => {
	return !data.active;
});

const title = 'QEntHEP';
const description = 'QEntHEP Project';
const permalink = Astro.url.href;

const contentList = await getEntry('publications', 'content-list');
const publications = contentList.data.publications;
const selectedPublications = publications.filter((publication) => publication.selected);
---

<BaseLayout
	title={title}
	description={description}
	permalink={permalink}
	frontmatter={{ extra: frontmatter.extra }}
>
	<div class="mx-auto max-w-7xl px-6 py-6 sm:py-8 lg:px-8">
		<div class="mx-auto max-w-2xl md:mx-0">
			<p class="text-lg font-semibold uppercase leading-8 tracking-tight text-sky-800">
				About the project
			</p>
			<h1 class="mt-2 flex flex-col text-3xl font-bold tracking-tight text-gray-900 sm:text-6xl">
				{frontmatter.title}
			</h1>
			<p class="mt-6 text-xl leading-8 text-gray-700">
				{frontmatter.summary}
			</p>
		</div>
		{
			frontmatter.image && (
				<div class="-mx-6 mt-6 lg:-mx-8">
					<Image
						src={frontmatter.image.url}
						width="1023"
						height="100"
						alt="Cover image"
						class="h-32 object-cover sm:h-64"
					/>
				</div>
			)
		}
		<div class="mt-10 max-w-2xl">
			<section class="prose prose-sky mx-auto my-8 max-w-screen-lg lg:prose-xl">
				<AboutSection />
			</section>
		</div>
	</div>
	<section class="mx-auto mt-16 px-6 py-6 sm:py-8 lg:px-8" id="people">
		<h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Research team</h2>
		<ul role="list" class="mt-6 list-inside list-disc marker:text-sky-800">
			{
				current_members.map((member) => (
					<li class=" py-2">
						<TeamMember person={member} />
					</li>
				))
			}
		</ul>
	</section>
	{
		past_members && (
			<section class="mx-auto mt-16 px-6 py-6 sm:py-8 lg:px-8">
				<h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Past members</h3>

				<ul role="list" class="mt-6 list-inside list-disc marker:text-sky-800">
					{past_members.map((member) => (
						<li class=" py-2">
							<TeamMember person={member} />
						</li>
					))}
				</ul>
			</section>
		)
	}
	{
		selectedPublications && (
			<section class="mx-auto mt-16 px-6 py-6 sm:py-8 lg:px-8">
				<div class="flex items-center justify-between">
					<h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
						Selected publications
					</h2>
					<a
						href="/publications"
						aria-label="View all publications"
						title="View all publications"
						draggable="false"
						class="ease inline-flex items-center border border-sky-800 p-1 shadow-md ring-sky-800 transition duration-200 hover:ring-2 md:p-2"
					>
						<span class="text-sm md:text-base">View all</span>
						<Icon name="heroicons:arrow-right-20-solid" class="ml-1.5 h-5 w-5" />
					</a>
				</div>
				<PublicationsList publications={selectedPublications} />
			</section>
		)
	}
	<section class="mx-auto mt-16 px-6 py-6 sm:py-8 lg:px-8">
		<div class="mt-16 max-w-2xl">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Funding</h2>
			<p class="mt-6">Reference: CERN/FIS-COM/0036/2019</p>
		</div>
		<div class="grid items-center sm:grid-cols-2">
			<Image src={FCT_logo} alt="FCT Logo" class="object-scale-down" loading="lazy" />
			<Image src={IT_logo} alt="FCT Logo" class="object-scale-down" loading="lazy" />
		</div>
	</section>
</BaseLayout>
